[FORMAT]
max-line-length=150

[MESSAGES CONTROL]
disable=missing-docstring, too-few-public-methods, too-many-positional-arguments, too-many-instance-attributes, too-many-arguments

# Add this line:
#"python.linting.pylintArgs": ["--generate-members"],
